<!DOCTYPE html>
<html>
  <head>
    <title>DONATIONS DATABASE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DONATIONS LIST</h1>
    <% if(donations.length > 0) { %>
    <table border="1" sytle="border-collapse: collapse;">
      <thead>
        <tr>
          <th>Donator username</th>
          <th>Campaign</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < donations.length; i++) { %>
          <tr>
            <td><a href="/donation/show/<%= donations[i]._id %>"><%= donations[i].username %></a></td>
            <td><%= donations[i].campanha %></td>
            <td><%= donations[i].montante %>€</td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% }else{ %>
    <h1>Currently there are no donations</h1>
    <% } %>
  </body>
</html>
