<!DOCTYPE html>
<html lang="en">
<head>
    <title>Donation details</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/donationPage.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <p>Montante: <%= donation.montante %></p>
    <p>Campanha: <%= donation.campanha %></p>
    <p>Username: <%= donation.username %></p>
</body>
</html>