<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/donationDetails.css">
	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png"/>
	<title>Donation details</title>
</head>
<body>

<div class="topFooter">
	<h1 class="title">Thank you for your donation!</h1>
</div>

<form action="/loginPage" method="get">
	<button type="submit" class="done">Done</button> 
</form>

	<p class="value">Donated amount: <%= donation.montante %> €</p>
	<p class="campaign">Campaign: <%= donation.campanha %></p>
	<p class="donator">Donator username: <%= donation.username %></p>
	<p><%= donation.estado %></p>

	<div class="bottomFooter">
		<p class="bottomParagraphLogin">2018-2019 gofund.me Trademark</p>
	</div>
</body>
</html>