<DOCTYPE html>
	<html>

	<head>
		<title>Create a fund</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/campaignStyle.css">
		<link rel="shortcut icon" type="image/png" href="images/favicon-16x16.png"/>
		<script type="text/javascript" src="javascripts/loginJS.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
	</head>

	<body class="bodyLogin" onload="addTitle()">
		<div class="topFooter">
			<p id="mainTitle" class="title"></p>
		</div>

		<div class="formDiv">
			<form action="/campaign/save" method="post">
				<input type="text" id="value" class="valueInput" placeholder=" Introduce you target value here..." name="valorAtingir">
				<input type="text" id="iban" class="ibanInput" placeholder=" Target IBAN" name="iban">
				<input type="text" id="title" class="campTitle" placeholder=" Introduce a campaign title here..." name="title">
				<textarea id="description" class="description" placeholder= " Add a description to your campaign here..." name="descricao"></textarea>
				<p class="p1">If you wish to add another responsible to this campaign, add their user id here (2 person limit)</p>
				<input type="text" id="id1" class="id1" placeholder=" 1º responsible´s ID" name="responsavel1">
				<input type="text" id="id1" class="id2" placeholder=" 2º responsible´s ID" name="responsavel2">
				<button type="submit" id="createCampaign" class="createButton">Create campaign</button>
				<button type="button" id="backToMenu" class="back" onclick="redirectToMenu()">Back to menu</button>
				<input type=hidden id="type" name="type"></input>
				<input type=hidden id="type" name="estado" value="Active"></input>
				<input type=hidden name="valorCorrente"></input>
				<div class="photoDef"></div>
				<button type="submit" id="upload" class="uploadButton">Upload a logo</button>
			</form>
		</div>

	</body>

	</html>