<!DOCTYPE html>
<html>
    <header>
        <title>ERRO</title>
        //<META http-equiv="refresh" content="0;URL=../loginPage"> 
    </header>
    <body>
        <script>alert('Oopss!! Algo errado aconteceu, tente novamente')</script>
    </body>
</html>
