<!DOCTYPE html>
<html lang="en">
<head>
    <title>Make donation</title>
</head>
<body>
    <form action="/donation/save" method="POST">
    <input type="number" placeholder="valor aqui" name="montante">
    <input type="text" placholder="nome campanha" name="campanha">
    <button type="submit">Donate</button>
    </form>
</body>
</html>