<!DOCTYPE html>
<html>
    <header>
        <title>SUCCESS</title>
        //<META http-equiv="refresh" content="0;URL=../loginPage"> 
    </header>
    <body>
        <script>alert('operation completed successfully')</script>
    </body>
</html>